@using WebApplication1.DbModels
@model IEnumerable<Blog>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фиксированный макет с прокручиваемым центральным блоком</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <style>
        #fileInput {
            display: none;
        }

        #image {
            cursor: pointer;
            width: 200px; 
            height: 200px; 
            border: 2px solid #ccc; 
            border-radius: 8px; 
        }
    </style>
</head>
<body>
    <h2>Список пользователей</h2>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Users
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Имя</th>
                        <th>Email</th>
                        <th>Попереджень</th>
                        <th>Бан до</th>
                        <th>Блокировка</th>
                    </tr>
                </thead>
                <tbody id="usersTableBody"></tbody>
            </table>
        </div>
    </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Назва</th>
                        <th>Автор</th>
                        <th>Гра</th>
                        <th>Блог</th>
                        <th>Одобрення</th>
                        <th>Причина</th>
                        <th>Видалення</th>
                    </tr>
                </thead>
                <tbody id="postsTableBody"></tbody>
            </table>
        </div>
    </div>


    <script>
        function loadUsers() {
            $.ajax({
                url: '@Url.Action("GetUsers", "Auth")',
                method: 'GET',
                success: function (users) {
                    let tableBody = $('#usersTableBody');
                    tableBody.empty();
                    users.forEach(user => {
                        let row = `<tr>
                                    <td>${user.id}</td>
                                    <td><a class="nav-link text-dark" href="/Profile/Index?id=${user.id}">${user.name}</a></td>
                                    <td>${user.email}</td>
                                    <td>${user.warnings}</td>
                                    <td>${user.banTime ? new Date(user.banTime).toLocaleString() : 'Не заблокирован'}</td>
                                    <td>
                                        <input type="number" min="1" max="365" value="1" id="banDays-${user.id}" /> дней
                                        <button onclick="banUser(${user.id})">Забанить</button>
                                    </td>
                                    <td>
                                        <button onclick="deBanUser(${user.id})">Розбанити</button>
                                    </td>
                                </tr>`;
                        tableBody.append(row);
                    });
                }
            });
        }

        function loadPosts() {
            $.ajax({
                url: '@Url.Action("GetPostsToVerify", "Posts")',
                method: 'GET',
                success: function (posts) {
                    let tableBody = $('#postsTableBody');
                    tableBody.empty();
                    posts.forEach( post=> {
                        let row = `<tr>
                                            <td>${post.id}</td>
                                            <td><a class="nav-link text-dark" href="/Posts/ReadPost?id=${post.id}">${post.title}</a></td>
                                            <td>${post.authorName}</td>
                                            <td>${post.game}</td>
                                            <td><a class="nav-link text-dark" href="/Posts/Index?id=${post.blogId}">${post.blogName}</td>
                                            <td><button onclick="postApproval(${post.id})">Одобрено</button></td>
                                            <td><input type="text" id="postProblem-${post.id}" /></td>
                                            <td><button onclick="postNotApproval(${post.id})">Не одобрено</button></td>
                                        </tr>`;
                        tableBody.append(row);
                    });
                }
            });
        }

        function banUser(userId) {
            let days = $(`#banDays-${userId}`).val();

            $.ajax({
                url: '@Url.Action("TemporaryBan", "Moder")',
                method: 'POST',
                data: 
                    { userId: userId, 
                    banTime: days },
                success: function (response) {
                    alert(response.message);
                    if (response.success) {
                        loadUsers();
                    }
                },
                error: function () {
                    alert('Ошибка при разбане пользователя!');
                }
            });
        }

        function postApproval(postId){
            $.ajax({
                url: '@Url.Action("PostApproval", "Posts")',
                method: 'POST',
                data:
                {
                    postId: postId
                },
                success: function (response) {
                    alert(response.message);
                    if (response.success) {
                        loadPosts();
                    }
                },
                error: function () {
                    alert('Ошибка при изменении статуса публикации!');
                }
            });
        }

        function postNotApproval(postId){
            let reason = $(`#postProblem-${postId}`).val();
            $.ajax({
                url: '@Url.Action("PostNotApproval", "Posts")',
                method: 'POST',
                data:
                {
                    postId: postId,
                    reason: reason
                },
                success: function (response) {
                    alert(response.message);
                    if (response.success) {
                        loadPosts();
                    }
                },
                error: function () {
                    alert('Ошибка при изменении статуса публикации!');
                }
            });
        }

        function deBanUser(userId) {
            $.ajax({
                url: '@Url.Action("DeleteBan", "Moder")',
                method: 'POST',
                data: { userId: userId },
                success: function (response) {
                    alert(response.message);
                    if (response.success) {
                        loadUsers();
                    }
                },
                error: function () {
                    alert('Ошибка при разбане пользователя!');
                }
            });
        }

        $(document).ready(function () {
            loadUsers();
            loadPosts();
        });
    </script>
</body>


